/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-05-2018, 18:12:28
    Author     : Juste
*/

* {
    box-sizing: border-box;
}
a
{
    display: block;
}

a, h1, h2, p, label, input 
{
    font-family: times new roman;
    color: #000000;
    text-align: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}


.grid-container {
  display: grid;
  grid-template-areas: 
  'header header header header header header' 
  'left left middle middle right right' 
  'footer footer footer footer footer footer';
 
} 
input[type=text], select {
    

    width: 100%;
    padding: 2px 1px;
    margin: 5px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-content: center;
  
    
}

input[type=password], select {
    

    width: 100%;
    padding: 2px 1px;
    margin: 5px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-content: center;
  
    
}
input[type=submit] {
    
    width: 100%;
    background-color: #243c98;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
    
}

input[type=submit]:hover {
    background-color: #0000cc;
}
.left,
.middle,
.right {
  padding: 10px;
  height: 300px; 
}

/* Style the left column */
.left {
  grid-area: left;
  width: 600px;
}

/* Style the middle column */
.middle {
  grid-area: middle;
   width: 600px;
}

/* Style the right column */
.right {
  grid-area: right;
   width: 600px;
}

.center{
    display: block;
    text-align: center;
    width: 600px;
}
/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
    'header header header header header header' 
    'left left left left left left' 
    'middle middle middle middle middle middle' 
    'right right right right right right' 
    'footer footer footer footer footer footer';
}
}